@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: rgba(0, 0, 0, 0.8);
    --btn-background: rgba(0, 0, 164, 0.5);
    --btn-color: white;
    --danger: rgba(255,75,75,1.0);
}

body, html {
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: "Roboto";
    color: white;
}

.btn {
    border-style: sold;
    border-radius: 1em;
    background-color: var(--btn-background);
    color: var(--btn-color);
    border-color: var(--btn-color);
    padding: .5em;
    min-width: 10em;
    height: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: .5em 1em .5em 1em;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--btn-color);
    color: var(--btn-background);
    border-color: var(--btn-background);
}

#mainMenu {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-danger {
    background-color: red;
}


#displayInfo {
    background-color: rgba(0,0,0,0.1);
    width:250px;
    height: 100%;
    position: absolute;
    left: 0;

    border-right: solid 1px black;
}

#displayInfo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayInfo h2 {
    margin: .5em
}

#displayInfo h3 {
    margin: .25em
}

#displayInfo *{
    text-align: center;
}


#upgradeInfo {
    background-color: rgba(0,0,0,0.1);
    width:250px;
    height: 100%;
    position: absolute;
    right: 0;

    overflow-y: scroll;
    border-left: solid 1px black;
}

#upgradeInfo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upgradeInfo h2 {
    margin: .5em;
}

#upgradeInfo h3 {
    margin: .25em;
}
#upgradeInfo p {
    margin: .25em;
}

#upgradeInfo *{
    text-align: center;
}

#brokeInfo {
    background-color: var(--danger);
    width:250px;
    height: 100%;
    position: absolute;
    right: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loadingScreen {
    background-color: var(--background);
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

#loadingScreen.finished-view {
    opacity: 0;
    transition: all 1s;
}

#loadingScreen.finished {
    display: none;
}

#resetDataPopUp {
    display: none;

    position: fixed;
    width:50%;
    min-width: 325px;
    height: 20%;
    min-height: 100px;


    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;


    background-color: rgba(0,0,0,0.75);

    padding: 0;

    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center
}

#resetDataPopUp #x {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;

    margin: 0;
    padding: 0;
}

#resetDataPopUp #x:hover {
    cursor: pointer;
    color: red;
}

#resetDataPopUp div {
    width: 50%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

#resetDataPopUp button {
    width: 7.5em;
    color: var(--btn-color);
    background-color: var(--btn-background);
}

#resetDataPopUp button:hover {
    cursor: pointer;
    color: var(--btn-background);
    background-color: var(--btn-color);
}